[Desktop Entry]
Type=Application
Name=Metronome
Name[lt]=Metronomas
Comment=A simple click
Comment[lt]=Paprastas spragtelėjimas
GenericName=Metronome
GenericName[lt]=Metronomas
Icon=com.github.artemanufrij.metronome
Exec=com.github.artemanufrij.metronome %U
Terminal=false
Categories=AudioVideo;GNOME;GTK;Audio;
X-GNOME-Gettext-Domain=metronome
Keywords=Metronome;Click;
