[Desktop Entry]
Type=Application
Name=Metronome
Comment=A simple click
GenericName=Metronome
Icon=metronome
Exec=com.github.artemanufrij.metronome %U
Terminal=false
Categories=AudioVideo;GNOME;GTK;Audio;
X-GNOME-Gettext-Domain=metronome
Actions=AboutDialog;
Keywords=Metronome;Click;

[Desktop Action AboutDialog]
Exec=com.github.artemanufrij.metronome --about
Name=About Metronome
